.btn {
	cursor: pointer;
	padding: 20px;
	font-size: 24px;
	font-weight: 500;
	background-color: #b0ffe7;
	border: 1px solid #30af89;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #666;
	transition: .1s;

	&:active {
		background-color: #7fffd9;
		box-shadow: 1px 1px 3px #666;
		transform: translate(1px, 1px);
	}
}