.app.dark {
	--bg-color: rgb(17, 17, 118);
	--inverted-bg-color: rgb(247, 233, 143);

	--primary-color: #d48e26;
	--secondary-color: #eacd6d;

	--inverted-primary-color: #ff5900;
	--inverted-secondary-color: #640f45;
}