.app.light {
	--bg-color: rgb(247, 233, 143);
	--inverted-bg-color: rgb(17, 17, 118);

	--primary-color: #0048ff;
	--secondary-color: #1a0f64;

	--inverted-primary-color: #d47126;
	--inverted-secondary-color: #ea6db2;
}