.app.light {
	--bg-color: rgb(230, 235, 240);
	--inverted-bg-color: rgb(45, 47, 50);

	--primary-color: rgb(104, 125, 150);
	--secondary-color: rgb(140, 157, 172);

	--inverted-primary-color: rgb(204, 217, 230);
	--inverted-secondary-color: rgb(220, 230, 240);

	--primary-btn: rgb(130, 145, 160);
	--primary-btn-hover: rgb(110, 130, 150);
	--secondary-btn: rgb(160, 175, 190);
	--secondary-btn-hover: rgb(140, 160, 180);
	--light-btn: rgb(180, 190, 200);

	--link-one: rgb(120, 135, 150);
	--link-one-hover: rgb(100, 120, 140);
	--link-two: rgb(160, 175, 190);
	--link-two-hover: rgb(140, 160, 180);
	--link-three: rgb(140, 155, 170);
	--link-three-hover: rgb(120, 140, 160);
}